@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Hubballi', cursive;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgb(140, 16, 189), rgb(230, 49, 221));
	background-image: url('../Img/pexels-pixabay-235986.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	min-height: 19rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	box-shadow: 0 0 50px rgb(0, 0, 0);
}

.wrapper > h1{
	font-size: 2.8rem;
}

.wrapper > form{
	gap: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inputs{
	font-size: 1.1rem;
	padding: 8px 0px;
	background: transparent;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	color: white;
}

.inputs::placeholder{
	color: white;
}

.wrapper > form > button[type="submit"]{
	background: transparent;
	border: 2px solid white;
	color: white;
	font-size: 2rem;
	padding: 5px 0;
	/* border-top: none; */
	border-radius: 15px 15px 100px 100px;
}
